.classy {
    border: 1px solid black;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: contain;
    color: black;
    font-size: 24px;
    margin: 10px;
    align-content: center;
    padding: 30px;
}
h1{
    text-align: center;
    padding-top: 60px;
}

h4{
    text-align: center;
}

.box {
    border: 1px solid black;
    color: whitesmoke;
    font-size: auto;
    margin: 10px;
    padding: 20px;
    background-image: url(../images/moon.jpg);
    background-size: cover;
}

header {
    background-image: url(../images/space1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-image: 3px solid black;
    color: white;
    text-shadow: 2px 2px black;
}

.space {
    background-image: url(../images/space2.jpg);
    background-size: cover;
    color: white;

}